.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}

.item:hover {
  background-color: rgba(0, 21, 41, 0.05);
}

.item > div {
  width: 100%;
}

.selected {
  background-color: rgba(24, 144, 255, 0.05);
}
