.cardRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}

.centralize {
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
}

.full {
  height: 100vh;
}

.deleted {
  color: lightgray;
}
